@font-face {
    font-family: cursedTimer;
    src: url(./CursedTimerUlil-Aznm.ttf);
}

body {
    background: #40798C;
    color: #40798C;
}

.scoreContainer {
    background: #CFE0C3;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0px auto;
    border: 2px solid #70A9A1;
    border-radius: 10px;
    box-shadow: 0 0 7px black inset;
}

.scoreCounter {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 40px;
    margin: 20px auto 10px auto;
}

#homeScore, #awayScore {
    background: black;
    color: red;
    width: 150px;
    font-family: cursedTimer;
    font-size: 80px;
    margin: 0;
    padding: 15px 0 0 0;
    border-radius: 5px;
    text-align: center;
}

.buttons {
    margin: 30px 0 30px 0;
}

.btn {
    background: #9EC1A3;
    color: #40798C;
    padding: 7px 7px 5px 7px;
    border: 2px solid #70A9A1;
    border-radius: 5px;
    font-family: cursedTimer;
    font-size: 18px;
    box-shadow: 0 0 5px black;
}

.configContainer {
    background: #CFE0C3;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px auto;
    border: 2px solid #70A9A1;
    border-radius: 10px;
    padding: 15px 0px;
    box-shadow: 0 0 7px black inset;
}

#newGame {
    background: #9EC1A3;
    color: #40798C;
    border: 2px solid #70A9A1;
    border-radius: 5px;
    padding: 0 15px;
    box-shadow: 0 0 5px black;
    font-family: cursedTimer;
}

.counter {
    display: flex;
}

#periodCounter, #foulCounter {
    border: 2px solid #9EC1A3;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0px 10px;
    font-family: cursedTimer;
}